* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    width: 80%;
    /*    min-width: 600px;*/
    margin: auto;
/*    border: 1px solid black;*/
    padding: 5px;
    /*    position: relative;*/
}

/*ĐỊNH DẠNG PHẦN ĐẦU*/

.header {
    /*    padding: 0 10px;*/
    width: 100%;


}

.header > img.logo {
    width: 15%;
    /*    height: 200px;*/
    float: left;
    border: 2px dashed green;
    border-radius: 30px;
    /*    border-width: 1%;*/
}

.header > .hotline {
    width: 84%;
    height: 28px;
    background-color: #36c;
    float: right;
    line-height: 28px;
    margin-bottom: 2px;
}

.header > .hotline > marquee {
    font-weight: bold;
    color: white;
}

.header > img.banner {
    width: 84%;
    /*    height: 70%;*/
    float: right;
}

.menu {
    height: 40px;
    background-color: #36c;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style: none;
    z-index: 10;
}

.menu > li,
.menu .icon {
    background: #36c;
    float: left;

    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    /*    position: relative;*/
}

ul.menu > li {
    display: block;
    position: relative;
}

ul.menu > li > a {
    color: #f2f2f2;
}

.menu li:hover {
    background-color: #ddd;
    color: black;
}

.menu .active {
    background-color: #4CAF50;
    color: white;
}

.menu .icon {
    color: aliceblue;
    background: #888;
    display: none;
    height: 19px;
}

@media screen and (max-width: 1165px) {
    #mobile {
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 980px) {
    .menu li:not(:first-child) {
        display: none;
    }
    /*
    .menu li:first-child) {
        display: block;
        width: 100%;
    }
*/
    .menu .icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 980px) {
    .menu.responsive {
        position: -webkit-sticky;
        position: sticky;
        display: block;
    }
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.menu > li > ul {                                   /*    Ẩn menu con*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    left: 0;
    top: 40px;
}

.menu > li > ul > li > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu > li > a:hover {
    position: relative;
}

.menu li:hover .dropdown-content {
    display: block;
    white-space: nowrap;
}

/*ĐỊNH DẠNG PHẦN BODY*/

.body {
    width: 100%;/*    border: 1px solid black;*/
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    #left,
    #right {
        width: 100%;
    }
}

.body > .left {
    width: 70%;
    margin-right: 2%;
    height: 50%;
    float: left;
}

.body > .right {
    width: 28%;
    height: 50%;
    float: right;
}


/*PHẦN TIN ĐĂNG BĐS*/

.body > .left > .tin {
    width: 100%;
    padding: 1% 0;
    height: 100px;
    border-bottom: 1px solid #555;
}

/*
.body > .left > .tin:nth-first-child(4) {
    border-bottom: none;
}
*/

.body > .left > .tin > img {
    width: 20%;
    float: left;
    height: 100%;
}


.body > .left > .tin > .content {
    width: 78%;
    /*    padding: 5px;*/
    float: right;
}

.body > .left > .tin > .content > .priceandtime > div {
    margin-bottom: 35px;
    margin-top: 10px;
    color: red;
    font-weight: bold;

}

.body > .left > .tin > .content > .priceandtime > span {
    color: #999;
    font-size: 13px;
}

.body > .left > .tin > .content > .priceandtime > p {
    color: white;
    background-color:yellowgreen;

}

a {
    text-decoration: none;
    /*    color: brown;*/
}

/*LỌC TIN ĐĂNG*/

.body > .left > .loc > input {
    width: 92%;
    padding: 5px;
    font-size: 16px;
    color: #999;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.body > .left > .loc > button {
    height: 32px;
    width: 32px;
    float: right;
}

.body > .left > .loc > select {
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

@media screen and (max-width: 1080px) {
    .body > .left > .loc > select {
        float: none;
        display: block;
        width: 100%;
        /*        height: 200px;*/
    }
}

/*DỰ ÁN NỔI BẬT, CĂN HỘ CHUNG CƯ, CAO CẤP*/

.body > .left > .block2 {
    width: 100%;
    height: 20%;
    margin-bottom: 20px;
    /*    margin-bottom: 1%;*/
}

.body > .left > .block2 > ul {
    /*    background-color: brown;*/
    /*    border: 1px solid brown;*/
    padding: 7px 0;
    border-bottom: 1px solid black;
}

.body > .left > .block2 > ul > li {
    list-style: none;
    display: inline-block;
    border-right: 2px solid #eee;

}

.body > .left > .block2 > ul > li:last-child {
    border-right: none;
}

.body > .left > .block2 > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    font-size: +3;
    padding: 8px;
    /*    color: black;*/
}

.active-menu-tab {
    color: #36c;
    /*    background-color: darksalmon;*/
}

.body > .left > .block2 > ul > li:hover {
    color: #36c;
    /*    background: #ccc;*/
}

.body > .left > .block2 .block2-1 {
    width: 100%;
    margin-top: 10px;
}

.body > .left > .block2 .block2-1 > .abc {
    width: 24%;
    margin-right: 1.333333333333%;
    display: block;
    float: left;
}

.body > .left > .block2 .block2-1 > .abc:nth-child(4),
.body > .left > .block2 .block2-1 > .abc:nth-child(9) {
    margin-right: 0;
}

.body > .left > .block2 .block2-1 > .abc:last-child {
    margin-right: none;
    float: right;
}

.body > .left > .block2 .block2-1 > .abc > img {
    width: 100%;
    height: 100px;
}

.body > .left > .block2 .block2-1 > .abc > a {
    color: blueviolet;
    /*    font-weight: bold;*/
}

/*CẨM NANG, PHONG THỦY, NỘI THẤT, KIẾN THỨC ĐƯỢC QUAN TÂM*/

.body > .left > df {
    width: 100%;
    /*    height: 300px;*/
}

.body > .left > .df > .l {
    width: 59%;
    margin-right: 6%;
    /*    height: 300px;*/
    float: left;
    position: relative;
}

.body > .left > .df > .l > .b1 {
    /*    width: 100%;*/
}

.body > .left > .df > .l > .b1 > img {
    width: 100%;
    height: 300px;
}

.body > .left > .df > .l > .b1 > p {
    text-align: center;
    color: aqua;
}

.body > .left > .df > .l > .prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.body > .left > .df > .l > .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    font-size: 12px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: aqua;
}

/*KIẾN THỨC ĐƯỢC QUAN TÂM*/

.body > .left > .df > .r {
    width: 35%;
    float: right;
    /*    height: 300px;*/
}

.body > .left > .df h3 {
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding: 5px 0px 7px 10px;
    border-left: 3px ridge blue;
}

.body > .left > .df > .r > ul {
/*    padding: 7px 0;*/
    display: block;

}

.body > .left > .df > .r > ul > li {
    list-style: disc;
    list-style-position: inside;
    border-bottom: 1px dashed #999;
    padding: 5px;
}

.body > .left > .df > .r > ul > li:last-child {
    border-bottom: none;
}

.body > .left > .df > .r > ul > li > a {
    text-decoration: none;
    color: black;
    text-align: justify;
}

/*TIN NOI BAT VÀ  ĐĂNG KÍ NHẬN TIN*/

.body > .right > .tinnoibat {
    margin-bottom: 10px;
    width: 100%;
    display: block;
    z-index: 0;
    position: relative;
}

.body > .right > .tinnoibat > h4 {
    color: white;
    background: #009966;
    text-align: center;
    border-radius: 7px 7px 0 0;
    padding: 10px;

}

.body > .right > .tinnoibat > .tinhot {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 2%;
    background-color: lightcyan;
}

.body > .right > .tinnoibat > .tinhot > img {
    width: 100%;
    margin-bottom: -5px;
    height: 300px;
}

.body > .right > .tinnoibat > .tinhot > p {
    position: absolute;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.5);
    /* Black background with transparency */
    color: #f1f1f1;
    width: 96%;
    padding: 20px;
    box-sizing: border-box;
}

.body > .right > .tinnoibat > .prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.body > .right > .tinnoibat > .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.body > .right > .dangkinhantin {
    width: 100%;
    /*    padding-top: 50px;*/
    background: #FFCCCC;
    border-radius: 5px 5px;
    height: 25%;
    display: block;
}

.body > .right > .dangkinhantin > h4 {
    background: #009966;
    color: white;
    text-align: center;
    padding: 5px;
}

.body > .right > .dangkinhantin > p {
    color: brown;
    padding: 3px;
    font-size: 16px;
}

.body > .right > .dangkinhantin > input.text {
    width: 95%;
    padding: 1%;
    margin: 1%;
    font-size: 16px;
    color: #999;
}

.body > .right > .dangkinhantin > input.submit {
    width: 20%;
    padding: 5px;
    background: #996633;
    color: white;
    font-weight: bold;
}



.footer {
    margin-top: 30px;
    width: 100%;
    /*    height: 5000px;*/
    background: #f4f5f4;
    color: black;
    font-size: 13px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px inset gray;
}

.footer > .left {
    width: 49%;
    margin-right: 2%;
    box-sizing: border-box;
/*    padding-left: 7px;*/
    float: left;
}

.footer > .left > p{
/*    height: 18px;*/
    line-height: 18px;
}

.footer > .right {
    width: 49%;
    float: right;
}
.footer > .right img{
    height: 30px;
}

.footer > .end {
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.menuActive {
    display: block;
}

a {
    cursor: pointer;
}


/*TRANG CON: TRANG NHAN VIEN*/
.body .left .hoat_dongnv {
	width: 235px; height: 30px;
    background-color: #009900;
    color: white;
    font-weight: bold;
    padding: auto;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 15px;
    font-family:Arial;
    border-top-right-radius: 10px;
    margin-top: 0px;
    margin-bottom: 25px;
}

.body .left .ds_hoat_dong{
    width: 100%;
/*    border-top: 1px solid #ccc;*/
}
.body .left .ds_hoat_dong ul{
	list-style: none;
/*	margin-top: 0px;
*/
    list-style-position: inside;
}
.body .left .ds_hoat_dong ul li{
/*	margin: 20px 0px 0px 0px;*/
/*    width: 600px;*/
/*    margin-left: -40px;*/
    border-bottom: 1px dotted gray;
    padding: 15px 10px;
}
.body .left .ds_hoat_dong ul .cuoi_ds{
	border: none;
}

.body .left .ds_hoat_dong ul li .img{
    width: 25%;
    margin-right: 1%;
    float: left;
/*    height: 150px;*/
}
.body .left .ds_hoat_dong ul li a{
	width: 74%;
    float: left;
    line-height: 27px;
    text-align: justify;
}
.body .left .ds_hoat_dong ul li a:hover{
	color: red;
}

.body .right #tintuc{
	width: 100%;
    height: 30px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    color: white;
    font-family: Arial; font-weight: bold;
    background-color: #009900;
/*        padding-left: 120px;*/
    padding-top: 15px;
    text-align: center;
}
.body .right .tuyendung{
    margin-bottom: 25px;
}
.body .right ul{
	list-style: circle;
    border-top: 10px;
/*    width: 257px;*/
    font-size: 14px;
    border: 1px solid #ccc;
    margin-top: 0px;

}
.body .right ul li{
/*	width: 260px;*/
/*    margin-left: -20px;*/
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    margin-bottom: 10px;
    list-style-position: inside;
    margin: 0 10px;
}
.body .right ul .cuoi_tuyen_dung{
	border: none;
}
.body .right ul li a{
	text-decoration: none;
}
.body .right ul li a:hover{
	color: red;
}
.body .right .lien_he table{
	border: 1px solid #ccc;
	font-size: 14px;
    width: 100%;
}
.body .right .lien_he table tr:nth-child(even){
    background-color: #f3f3f3;
}
.body .right .lien_he table tr td{
	width: 50px; height: 50px;
}
.body .right .lien_he table .phai_bang{
	width: 237px;
}
.body .right .lien_he table td i{
	margin-left: 15px;

}

/*TRANG CON: TRANG TIN NHA*/
.tin_dang{
    width: 90%;
    margin: 0 5%;
}

.tin_dang .show_anh{
    position: relative;
}

.tin_dang .show_anh img{
    width: 100%;
/*    position: relative;*/
    height: 400px;
}
.tin_dang h3{
    margin: 20px 0;
}
.tin_dang .show_gia{
    margin-bottom: 20px;
}
.tin_dang .show_S{
    margin: 20px 0;
}
.tin_dang .show_diachi p{
    line-height: 35px;
}

.body > .left > .tin_dang  .prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.body > .left > .tin_dang  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
/*  padding-top: 100px;*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


.tin_dang .modal img{
    width: 90%;
/*    position: relative;*/
    height: 80%;
    margin: 5%;
}


/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.cursor {
  cursor: pointer
}

/*TRANG CON - BẤT ĐỘNG SẢN CHUNG CƯ*/

/*DANH SÁCH CHUNG CƯ*/

.body > .left > .content > .chcc {
    width: 100%;
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}

.body > .left > .content > .chcc:last-child{
    border-bottom: none;
}

.body > .left > .content > .chcc > img {
    width: 30%;
    float: left;
    padding: 10px;
    padding-left: 0;
}

.body > .left > .content > .chcc > .xyz {
    width: 100%;
    float: all;
    padding: 10px;
    padding-right: 0;
    text-align: justify;
    box-sizing: border-box;
}

.body > .left > .content > .chcc > .xyz >h3 >a{
    text-decoration: none;
    color: dodgerblue;
}

.body > .left > .content > .chcc > .xyz > span {
    font-size: 13px;
    font-style: oblique;
    display: block;
    margin: 7px 0;
}

.body > .left > .content > .chcc > .xyz> p {
    color: grey;
    font-size: 16px;
}


.body > .left > .content > h3 {
/*    color: blue;*/
    background-color: #eee;
    padding: 7px;
    border-left: 5px solid blue;
    padding-left: 15px;
}

.body > .left > .stt {
    list-style: none;
/*    float: left;*/
    text-align: center;
}
.body > .left > .stt>li{
    display: inline-block;
    padding: 10px;
}

.gia {
    width: 100%;
}

.gia > h3 {
    text-align: center;
    border-radius: 7px 7px 0 0;
    background-color: green;
    padding: 5px;
    margin-top: 20px;
    color: white;
}

.gia > select {
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
/*    margin-bottom: 1px;*/
    width: 100%;
}

.gia > table {
    width: 100%;
}

.gia > table > tr{
/*    border-bottom: 1px solid black;*/
}

#cotA {
    width: 60%;
    font-size: 14px;
    padding: 3px;
}

#cotA > a {
    color: black;
    text-align: justify;
}

#cotB {
    width: 40%;
    font-size: 14px;
    text-align: center;
    padding: 3px;
}

